# Check if uname -m is arm64
if [ "$(uname -m)" = "arm64" ]; then
POSTGRESQL_IMAGE='arm64v8/postgres:17.5'
BUILDPLATFORM='linux/arm64'
else
POSTGRESQL_IMAGE='postgres:17.5'
BUILDPLATFORM='linux/amd64'
fi

export POSTGRESQL_IMAGE
export BUILDPLATFORM